---
layout: compress
---
<!DOCTYPE html>
<html lang="en-us">
{% include head.html %}
  <body>

    {{ content }}

    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
<noscript>
  <a href="/" target="_blank">
    <img src="//sstatic1.histats.com/0.gif?4885613&amp;101" alt="" border="0" />
  </a>
</noscript>

<script type="text/javascript">
  var _Hasync = _Hasync || [];
  _Hasync.push(['Histats.start', '1,4885613,4,0,0,0,00010000']);
  _Hasync.push(['Histats.fasi', '1']);
  _Hasync.push(['Histats.track_hits', '']);

  (function() {
    var hs = document.createElement('script');
    hs.type = 'text/javascript';
    hs.async = true; 
    hs.src = ('//s10.histats.com/js15_as.js');
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(hs);
  })();
</script>

  </body>
</html>
